.activities-top {
    height: 40px;
    background: #f5f6f7;
    font-size: 13px;
    font-weight: 600;
    color: #898989;
    padding: 9px 15px;
    margin-bottom: 0px;
    padding-top: 12px;
}

.activities-top p {
    margin: 0;
}

.col-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    transition: transform 8s;
}

.col-wrap {
    overflow: hidden;
}

.list-box {
    border: 2px solid #f5f6f7;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.list-box-left {
    max-width: 300px;
    margin: 15px;
}

.list-box-left .list-img {
    padding: 15px;
    text-align: center;
}

.list-box-left button:hover {
    cursor: pointer;
}

.list-box-left .list-box-bottom {
    background: #f5f6f7;
}

.activity-current .list-box-bottom {
    background: #46a2ba;
}

.activity-current .list-box-bottom button {
    color: #ffffff!important;
}

.activity-current .list-box-bottom button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.list-box-left .list-box-bottom button {
    color: #898989;
}

.list-box-left .list-box-bottom button:hover {
    color: #46a2ba;
}

.list-box-left .list-text {
    background: #ffffff;
    padding: 10px 5px!important;
}

.list-box .list-img {
    background: #f5f6f7;
    padding: 15px 35px;
    position: relative;
}

.list-box-left .list-img:hover {
    cursor: pointer;
}

.activity-current .list-img {
    background: #46a2ba;
}

.list-box-left .list-img img {
    background: #ffffff!important;
}

.list-box-left .btn-trash {
    width: 24px;
    background: transparent;
    border: none;
    padding: 6px;
    font-size: 12px;
}

i.fa.fa-trash {
    font-size: 14px;
}

.list-box .list-text {
    padding: 15px 5px;
    text-align: center;
}

.list-text .list-text-title h4 {
    margin: 0;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.list-text .list-text-title .activity-name {
    width: 100%;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    border: none;
    text-align: center;
}

.list-text .list-text-title .activity-name:focus {
    background: #f5f6f7;
}

.list-text .list-text-updated {
    font-size: 12px;
    color: #898989;
    padding-top: 5px;
}

.list-new-wrap .list-new {
    border: 2px dotted #dbdbdb;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 88%;
    max-width: 210px;
    font-size: 60px;
    font-weight: 400;
    color: #dbdbdb;
}

.list-new-wrap .list-new:hover {
    border-color: #46a2ba;
    cursor: pointer;
    color: #46a2ba;
}

.activity-list-new {
    border: 2px dotted #ccc;
    width: 258px;
    height: 280px;
    margin: 15px;
    background: transparent;
    font-size: 60px;
    color: #ccc;
}

.activity-list-new:hover {
    border-color: #46a2ba;
    cursor: pointer;
    color: #46a2ba;
}

.list-box .list-img .list-hover {
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: #46a2ba;
}

.list-box .list-img .list-hover button {
    background: transparent;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    display: block;
    border: 1.5px solid #fff;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.list-box .list-img .list-hover button a {
    color: #898989;
    text-decoration: none;
}

.list-box .list-img .list-hover button a:hover {
    color: #46a2ba;
    font-weight: bold;
}

.list-box .list-img .list-hover button:hover {
    color: #46a2ba;
    font-weight: bold;
    background: #fff;
    cursor: pointer;
}

.list-box .list-img:hover .list-hover {
    display: block;
    padding-top: 26px;
}

.list-box .list-img img {
    background: transparent;
    border: none;
    outline: none;
}

.list-box .list-img .preview-img {
    width: 100px;
    height: 150px;
}

.list-img .btn-home-on {
    position: absolute;
    top: 0;
    left: 0;
    background: #46a2ba;
    /*background-image: url(../../../assets/images/homebutton_on.png);*/
    background-size: cover;
    margin-left: 8px;
    margin-top: -5px;
    width: 25px;
    height: 25px;
    padding: 10px;
}

.list-img .btn-home-on p {
    margin: 0px;
    margin-top: -28px;
    font-size: 12px;
    font-weight: 600;
    margin-left: -14px;
    color: #46a2ba;
}

.list-img .btn-home-on:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -9px;
    left: 0;
    border-left: 12px solid transparent;
    border-right: 13px solid transparent;
    border-top: 9px solid #46a2ba;
}

.list-hover .btn-home {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    /*background-image: url(../../../assets/images/homebutton_on.png);*/
    background-size: cover;
    margin-left: 8px;
    margin-top: -5px;
    width: 25px;
    height: 25px;
    padding: 10px;
    -webkit-box-shadow: -1px -2px 5px -1px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: -1px -2px 5px -1px rgba(0, 0, 0, 0.17);
    box-shadow: -1px -2px 5px -1px rgba(0, 0, 0, 0.17);
}

.list-img .btn-home:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -9px;
    left: 0;
    border-left: 12px solid transparent;
    border-right: 13px solid transparent;
    border-top: 9px solid #fff;
}

.list-hover .btn-home:hover {
    background-image: url(../../../assets/images/homebutton_small.png);
    width: 26px;
    height: 26px;
    cursor: pointer;
}


/*.list-box .btn-home img {
    background: none!important;
    margin: 8px;
}*/

.list-scroll {
    overflow-x: auto;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 280px;
    margin-top: 110px;
    min-width: 800px;
}

.home-tag-wrap {
    margin-left: 15px;
    color: #46a2ba;
    overflow: hidden;
}

.home-tag-wrap .home-tag {
    width: 30px;
    height: 30px;
    background: #46a2ba;
    position: relative;
    float: left;
}

.home-tag-wrap .home-tag img {
    width: 20px;
    margin-left: 5px;
    margin-top: 7px;
}

.home-tag-wrap p {
    float: left;
    margin-top: 9px;
    font-size: 13px;
    margin-left: 5px;
}

.home-tag:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #46a2ba;
}

.list-box-export {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 264px;
    overflow-y: auto;
}

@media (min-width: 1850px) {
    .col-3 {
        width: 20%;
    }
}

@media (max-width: 1080px) {
    .col-3 {
        width: 33.33333%;
    }
}