<div class="device-status">

    <!--<p class="device-connected" *ngIf="deviceList.length > 0">
        Device Connected
    </p>-->
    <p class="device-unconnected" *ngIf="deviceList.length == 0">
        
Please connect the device. <span>How to connect <i class="fa fa-question-circle-o"></i></span>
    </p>


    <p class="btn-preview nav-btn" (click)='clickSendFile()' *ngIf="deviceList.length > 0">
       <i class="fa fa-mobile"></i>Send
    </p>
    <!--<p class="btn-preview nav-btn">
        <span><img src="assets/images/ic_preview_2.png"  class="nav-btn-img-2"/></span>Preview
    </p>-->

    <!--<p class="btn-source nav-btn">
        <span><img src="assets/images/ic_source.png" class="nav-btn-img"/></span>Source
    </p>-->

</div>