.device-status {
	font-size: 13px;
	
	padding-left: 20px;
}

.device-unconnected {
	color:rgba(0,0,0,0.5);
	font-weight: 600;
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
}

.device-unconnected span {
	color:#46a2ba;
}

.device-unconnected span i {
	font-size: 16px;
	margin-left: 3px;
	vertical-align: bottom;
}

.device-unconnected span:hover {
	cursor: pointer;
	color: #1a809b;
}

.device-connected {
	color:#46a2ba;
	font-size: 12px;
	font-weight: 600;
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
}

.device-status p {
	float:left;
}

/* main quick button */
.device-status .nav-btn {
	
	font-size: 12px;
	color:#46a2ba;
	font-weight: 600;
	line-height: 1.6;
	text-align: center;
	
	width: 54px;
	height:50px;
	border-left:solid 1px rgba(0,0,0,.08);
	
	padding-top: 7px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0;
}

.device-status .nav-btn:hover {
	background: rgba(0,0,0,.05);
	cursor: pointer;
}

.device-status .nav-btn-sending {
	background: #46a2ba;
	width:80.55px;
}

.device-status .btn-source .nav-btn-img{
	width:20px;
}

.nav-btn-img {
	padding-right: 5px;
	
	width:18px;
	margin-top: -2px;
}

i.fa.fa-usb {
	font-size: 15px;
	
	vertical-align: bottom;
	margin-bottom: -1px;
}

i.fa.fa-floppy-o {
	font-size: 15px;
	
	vertical-align: bottom;
	margin-bottom: -1px;
}

i.fa.fa-code {
	font-size: 17px;
	
	vertical-align: bottom;
	margin-bottom: -1px;
}


.nav-btn-img-2 {
	padding-right: 5px;
	opacity: 0.5;
	width:29px;
	margin-top: -2px;
}

.device-status .nav-btn:hover .nav-btn-img-2{
	-webkit-filter: invert(100%);
	filter: invert(100%);
	opacity: 1;
	margin-top: -2px;
}

.device-status .nav-btn:hover .nav-btn-img{
	-webkit-filter: invert(100%);
	filter: hue-rotate(100%);
	opacity: 1;
	margin-top: -2px;
}



/* -------------- loader10 -------------- */

.loader10:before{
	content: "";
	position: absolute;
	top: 0px;
	left: -18px;
	height: 8px;
	width: 8px;
	border-radius: 12px;
	-webkit-animation: loader10g 1s ease-in-out infinite;
	animation: loader10g 1s ease-in-out infinite;
}

.loader10{
	position: relative;
	width: 8px;
	height: 8px;
	left: 46%;
	top:6px;
	border-radius: 12px;
	-webkit-animation: loader10m 1s ease-in-out infinite;
	animation: loader10m 1s ease-in-out infinite;
}


.loader10:after{
	content: "";
	position: absolute;
	top: 0px;
	left: 18px;
	height: 8px;
	width: 8px;
	border-radius: 10px;
	-webkit-animation: loader10d 1s ease-in-out infinite;
	animation: loader10d 1s ease-in-out infinite;
}

@-webkit-keyframes loader10g{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, 1);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10g{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, 1);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loader10m{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, 1);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10m{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, 1);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loader10d{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, 1);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10d{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, 1);}
	100%{background-color: rgba(255, 255, 255, .2);}
}


@media screen and (max-width: 917px) {
	.device-status{
		display: none;
	}
}