<div class="device-status">

    <!--<p class="device-connected" *ngIf="deviceList.length > 0">
        Device Connected
    </p>-->

    <p class="device-unconnected" *ngIf="deviceList.length == 0">
        <span (click)="clickHowToConnect('http://vxmaker.com')">How to connect <i class="fa fa-question-circle-o"></i></span>
    </p>


    <p *ngIf="deviceList.length > 0" class="btn-preview nav-btn" (click)='clickSendFile()'>
        <i class="fa fa-usb"></i><br> Send
    </p>

    <p class="btn-save nav-btn" (click)='clickSaveFile()'>
        <i class="fa fa-floppy-o"></i><br> Save
    </p>

    <p class="btn-code nav-btn" (click)='clickExportCode()'>
        <i class="fa fa-code"></i><br> Code
    </p>



    <!-- <p class="btn-preview nav-btn" (click)='clickExportGuide()'>
        <i class="fa fa-mobile"></i>Guide
    </p> -->


    <!--<div *ngIf="deviceList.length > 0">
      
        <div class="btn-preview nav-btn nav-btn-sending" >
            <div class="loader10"></div>
        </div>
    </div>-->


    <!--<p class="btn-preview nav-btn">
        <span><img src="assets/images/ic_preview_2.png"  class="nav-btn-img-2"/></span>Preview
    </p>-->

    <!--<p class="btn-source nav-btn">
        <span><img src="assets/images/ic_source.png" class="nav-btn-img"/></span>Source
    </p>-->

</div>