.device-status {
    font-size: 13px;
    
    padding-left: 20px;
}

.device-unconnected {
    color:rgba(0,0,0,0.5);
    font-weight: 600;
    padding-top: 3px;
       padding-left: 15px;
    padding-right: 15px;
}

.device-unconnected span {
    color:#46a2ba;
}

.device-unconnected span i {
    font-size: 16px;
    margin-left: 3px;
    vertical-align: bottom;
}

.device-unconnected span:hover {
    cursor: pointer;
    color: #1a809b;
}

.device-connected {
    color:#46a2ba;
    font-weight: 600;
    padding-top: 3px;
       padding-left: 15px;
    padding-right: 15px;
}

.device-status p {
	position: relative;
    float:left;
}


.device-status .nav-btn {
 color:#46a2ba;
 	font-size:12px;
    font-weight: 600;
	padding-top: 9px;
	width:60px;
    height:50px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #ececec;
	  margin: 0;
	  text-align: center;
}

.device-status .nav-btn:hover {
    color:#fff;
    background: #46a2ba;
    cursor: pointer;
}

.device-status .sendStatus {
    background: #46a2ba;
    width:80.55px;
}

.fa.fa-mobile {
	font-size: 18px;
	line-height: 14px;
    vertical-align: bottom;
    margin-bottom: -1px;
}

.fa.fa-floppy-o {
    font-size: 15px;
    vertical-align: bottom;
    margin-bottom: -1px;
}

.fa.fa-code {
    font-size: 16px;
    vertical-align: bottom;
    margin-bottom: -1px;
}


/* -------------- loader10 -------------- */

.loader10:before{
	content: "";
	position: absolute;
	top: 0px;
	left: -18px;
	height: 8px;
	width: 8px;
	border-radius: 12px;
	-webkit-animation: loader10g 1s ease-in-out infinite;
			animation: loader10g 1s ease-in-out infinite;
}

.loader10{
	position: relative;
	width: 8px;
	height: 8px;
	left: 46%;
    top:6px;
	border-radius: 12px;
	-webkit-animation: loader10m 1s ease-in-out infinite;
			animation: loader10m 1s ease-in-out infinite;
}


.loader10:after{
	content: "";
	position: absolute;
	top: 0px;
	left: 18px;
	height: 8px;
	width: 8px;
	border-radius: 10px;
	-webkit-animation: loader10d 1s ease-in-out infinite;
			animation: loader10d 1s ease-in-out infinite;
}

@-webkit-keyframes loader10g{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, 1);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10g{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, 1);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loader10m{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, 1);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10m{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, 1);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loader10d{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, 1);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10d{
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, 1);}
	100%{background-color: rgba(255, 255, 255, .2);}
}


@media screen and (max-width: 917px) {
.device-status{
	display: none;
}
}