<div class="new-project-top" style="padding:25px;">
    <button class="btn-back" (click)="clickBack()">◄ back</button></div>
<div>
    <div class="ic-newproject">
       <img src="images/ic_newproject.png">
    </div>
    <div class="application-name">
        <h5>Application Name</h5>
        <input class="form-control" type="text" [(ngModel)]="applicationName" />
        <h5>Project Folder </h5>
        <div class="project-folder">
        <input  type="text" [value]="workspaceFolderPath" disabled/>
        <button (click)="clickChangeFolder()">change</button>
        </div>
    </div>
   
</div>
<div class="btn-new-save">
<button (click)="clickNext()">next ►</button>
</div>