.new-project{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
}

.new-project-top, .btn-new-save{
    width: 49%;
}

.new-project-top {
    float: left;
}

.btn-new-save {
    float: right;
}

.btn-back, .btn-next{
    font-weight: 700;
    font-size: 14px;
    background: transparent;
    border: none;
    border-radius: 8px;
    margin: 10px 0px 0px;
}

.btn-back {
    float: left;
    color: #898989;
    padding: 10px 18px 12px 14px;
}

.btn-back:hover {
    cursor: default;
    background: #eee;
}

.btn-next{
    float: right;
    color: #46a2ba;
    padding: 10px 14px 12px 18px;
}

.btn-next:hover {
    background: #eee;
    cursor: default;
}

.ic-newproject {
    text-align: center;
    margin-bottom: 30px;
}

.application-name {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
}

.application-name .form-control {
    width: 100%;
}

.project-folder input {
    padding-right: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.application-name input:focus {
    border-color: #46a2ba!important;
}

.project-folder {
    position: relative;
}

.project-folder button {
    border: none;
    border-radius: 4px;
    font-size: 10px;
    background: #fff;
    position: absolute;
    right: 5px;
    top: 0;
    color: #46a2ba;
    font-weight: 800;
    margin-top: 7px;
}

.project-folder button:hover {
    cursor: pointer;
    background: #f1f1f1;
}