.btn-back {
    background: none;
    border:none;
    color:#898989;
    font-weight: 700;
    font-size: 14px;
}

.btn-back:hover {
cursor: pointer;
color:#454545;
}

.btn-new-save {
    position: absolute;
    bottom:0;
    right:0;
   
    margin-bottom: 30px;
    margin-right: 20px;
}

.btn-new-save button:hover {
    cursor:  pointer;
}

.btn-new-save  button {
    font-weight: 700;
    font-size: 14px;
    border:none;
     color:#46a2ba;
    background: transparent;
}

.btn-new-save button:hover {
    color:#2c869d;
}

.ic-newproject {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
}

.application-name {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
}

.application-name .form-control {
    width:94%;
}

.project-folder input {
  
   padding-right: 25px;
   width:91% !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.application-name input:focus {
    border-color: #46a2ba!important;
}

.project-folder {
    position: relative;
}

.project-folder button {
    border:none;
    border-radius: 4px;
    font-size: 10px;
    background: #fff;
    position: absolute;
    right:0;
    top:0;
    color:#46a2ba;
    font-weight: 800;
    margin-top: 7px;
}

.project-folder button:hover {
    cursor: pointer;
    background: #f1f1f1;
}