<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>VxmakerAngular</title>
    <base href="/">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/spoqa-hans.css">
    <link rel="stylesheet" href="assets/prism/prism.css">

    <script src="assets/js/rasterizeHTML.js"></script>
    <script src="assets/prism/prism.js" data-manual></script>

    <script src="assets/js/beautify.js"></script>
    <script src="assets/js/beautifyHtml.js"></script>
    <script src="assets/js/beautifyCss.js"></script>


    <script>
        var electron = require('electron');
    </script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body style="overflow-y:hidden;">
    <app-root>
        <div class="loader-wrap">
            <div class="loader">
            </div>
            <p>loading...</p>
        </div>
    </app-root>
<script type="text/javascript" src="inline.bundle.js"></script><script type="text/javascript" src="polyfills.bundle.js"></script><script type="text/javascript" src="styles.bundle.js"></script><script type="text/javascript" src="vendor.bundle.js"></script><script type="text/javascript" src="main.bundle.js"></script></body>

</html>