<div>

    <app-preview-size></app-preview-size>



    <div *ngIf="selectedObject">
        <div *ngIf="selectedObject.type=='ImageView'">
            <button (click)="clickSelectImage()"> ImageSelect</button>
            <app-resource #imageResource *ngIf="showSelectImage" (onClickNewFile)="clickNewFile($event)"></app-resource>
        </div>

        <div *ngIf="selectedObject.type=='LottieView'">
            <button (click)="clickSelectFile()"> ImageFile</button>
            <app-resource #fileResource *ngIf="showSelectFile" (onClickNewFile)="clickNewFile($event)"></app-resource>
        </div>


        <li *ngFor="let key of getAllKeys(selectedObject)">
            {{ key }}:<input [(ngModel)]="selectedObject[key]">
        </li>
    </div>
    <div *ngIf="selectedState">
        <li *ngFor="let key of getAllKeys(selectedState)">
            {{ key }}:<input [(ngModel)]="selectedState[key]">
        </li>
    </div>



</div>