<div *ngIf="!selectedTriggerEvent">
    <div class="object-property" style="padding-top:0;">
        <div class="label-properties" style="margin-bottom:15px;">Properties</div>
        <div *ngIf="selectedObject" class="btn-img">

              <!-- 이미지, 파일 선택버튼 -->
            <div *ngIf="selectedObject.type=='ImageView'">
                <div *ngIf="selectedObject.dataUrl" class="img-selected">
                    <img [src]="prefix+applicationFolderPath+'/'+selectedObject.dataUrl" />
                    <div class="img-sub">
                        <p>{{selectedObject.dataUrl}}</p>
                        <p class="img-sub-size" (click)="clickDownload(prefix+applicationFolderPath+'/'+selectedObject.dataUrl)">Donwload</p>
                    </div>
                </div>
                <button (click)="clickSelectImage()"> ImageSelect</button>
            </div>

            <div *ngIf="selectedObject.type=='LottieAnimationView'||selectedObject.type=='VideoView'">
                <button (click)="clickSelectFile()"> FileSelect</button>
            </div>

            <div *ngIf="selectedObject.type=='TextView'">
                text <input [(ngModel)]="selectedObject.contentText" />
            </div>

            <!-- 이미지, 파일 선택버튼@ -->

            <div class="label-properties-2" style="margin-bottom:15px;">Info</div>
            <div class="property-detail" style="margin-bottom:8px;">
                <label>type:</label>
                <div class="property-input">
                    <label>{{selectedObject.type}}</label>
                </div>
            </div>
            <div class="property-detail">
                <label>name:</label> 
                <div class="property-input">
                    <input [(ngModel)]="selectedObject.name">
                </div>
            </div>
            <div class="property-detail">
                <label>background:</label>
                <div class="property-input">
                    <input [(ngModel)]="selectedObject.backgroundColor">
                </div>
            </div>

          
        </div>


        <div class="btn-more">
            <button (click)='toggleDetail()'>View more Properties <i class="fa fa-sort-desc"></i></button>
        </div>

        <div *ngIf="selectedState&&needShowState">

            <!-- 타이포그래피 -->

            <div class="label-properties-2" style="margin-bottom:15px;">
                Typography
                <i class="fa fa-sort-desc"></i>
            </div>

            <div class="property-detail-wrap">
                <div class="property-detail">
                    <label>fontFamily:</label>
                    <div class="property-input">
                        <input />
                    </div>
                </div>
                <div class="property-detail">
                    <label>style/size:</label>
                    <div class="property-input">
                        <input />
                    </div>
                </div>
                <div class="property-detail">
                    <label>lineHeight:</label>
                    <div class="property-input">
                        <input />
                    </div>
                </div>
                <div class="property-detail">
                    <label>fontColor:</label>
                    <div class="property-input">
                        <input />
                    </div>
                </div>
            </div>

            <!-- 타이포그래피@ -->

            <!-- 사이즈 -->


            <div class="label-properties-2" style="margin-bottom:15px;">
                Size
                <i class="fa fa-sort-desc"></i>
            </div>

             <div class="property-detail-wrap">
                <div class="property-detail">
                    <label>width:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.width">
                    </div>
                </div>
                <div class="property-detail">
                    <label>height:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.height">
                    </div>
                </div>
                <div class="property-detail">
                    <label>scaleX:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.scaleX">
                    </div>
                </div>
                <div class="property-detail">
                    <label>scaleY:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.scaleY">
                    </div>
                </div>

            </div>

            <!-- 사이즈@ -->

            <!--마진 -->
            <div class="label-properties-2" style="margin-bottom:15px;">
                Margin
                <i class="fa fa-sort-desc"></i>
            </div>

             <div class="property-detail-wrap">

                <div class="property-detail">
                    <label>marginTop:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.marginTop">
                    </div>
                </div>
                <div class="property-detail">
                    <label>marginLeft:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.marginLeft">
                    </div>
                </div>
                <div class="property-detail">
                    <label>marginRight:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.marginRight">
                    </div>
                </div>
                <div class="property-detail">
                    <label>marginBottom:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.marginBottom">
                    </div>
                </div>

            </div>
            <!--마진@ -->

            <!--padding -->

            <div class="label-properties-2" style="margin-bottom:15px;">
                Padding
                <i class="fa fa-sort-desc"></i>
            </div>

            <div class="property-detail-wrap">
                <div class="property-detail">
                    <label>paddingLeft:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.paddingLeft">
                    </div>
                </div>
                <div class="property-detail">
                    <label>paddingRight:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.paddingRight">
                    </div>
                </div>
                <div class="property-detail">
                    <label>paddingTop:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.paddingTop">
                    </div>
                </div>
                <div class="property-detail">
                    <label>paddingBottom:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.paddingBottom">
                    </div>
                </div>
            </div>
            <!--padding @-->

            <!-- transform -->

            <div class="label-properties-2" style="margin-bottom:15px;">
                Transform
                <i class="fa fa-sort-desc"></i>
            </div>

            <div class="property-detail-wrap">

                <div class="property-detail">
                    <label>translationX:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.translationX">
                    </div>
                </div>
                <div class="property-detail">
                    <label>translationY:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.translationY">
                    </div>
                </div>

                <div class="property-detail">
                    <label>rotate:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.rotate">
                    </div>
                </div>
                <div class="property-detail">
                    <label>alpha:</label>
                    <div class="property-input">
                        <input [(ngModel)]="selectedState.alpha">
                    </div>
                </div>

            </div>

            <!-- transform@ -->

            <!--code -->
            <div (click)="toggleCode()" class="label-properties-2" style="margin-bottom:15px;">
                Code
                <i class="fa fa-sort-desc"></i>
            </div>
            <div *ngIf="selectedState&&needShowCode&&objectLayoutData">
                <button [clip]="objectLayoutData" (onClip)="callback($event)">copy</button>
                <handy-syntax-highlighter *ngIf="objectLayoutData" [language]="'java'" [content]="objectLayoutData"></handy-syntax-highlighter>
            </div>

            <div *ngIf="openSource">
                <div>open source</div>
                <div>{{openSource.title}}</div>
                <div>author:{{openSource.author}}</div>
                <div>source: <a (click)="clickLink(openSource.url)">{{openSource.url}}</a></div>
                <div>description: {{openSource.description}}</div>
            </div>
            <!--code@ -->
        </div>

        <!-- 코드, 카피 -->


        <!-- <button (click)="toggleCode()">code</button>
        <div *ngIf="selectedState&&needShowCode&&objectLayoutData">
            <button [clip]="objectLayoutData" (onClip)="callback($event)">copy</button>
            <handy-syntax-highlighter *ngIf="objectLayoutData" [language]="'java'" [content]="objectLayoutData"></handy-syntax-highlighter>
        </div>

        <div *ngIf="openSource">
            <div>open source</div>
            <div>{{openSource.title}}</div>
            <div>author:{{openSource.author}}</div>
            <div>source: <a (click)="clickLink(openSource.url)">{{openSource.url}}</a></div>
            <div>description: {{openSource.description}}</div>
        </div> -->


    </div>

</div>