<div class="object-property">

    <div class="label-properties">Properties</div>

    <div *ngIf="!selectedTriggerEvent">
        <div *ngIf="selectedObject" class="btn-img">
            <div *ngIf="selectedObject.type=='ImageView'">
                <img [src]="prefix+applicationFolderPath+'/'+selectedObject.dataUrl" *ngIf="selectedObject.dataUrl" /> <button (click)="clickSelectImage()"> ImageSelect</button>
            </div>

            <div *ngIf="selectedObject.type=='LottieView'||selectedObject.type=='VideoView'">
                <button (click)="clickSelectFile()"> ImageFile</button>
            </div>


            <div class="property-input-wrap">
                <div *ngFor="let key of showPropertyKeys">
                    <div *ngIf="selectedObject[key]">
                        <label> {{ key }}:</label>
                        <div class="property-input">
                            <input [(ngModel)]="selectedObject[key]">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button (click)='toggleDetail()'>more</button>
        <div *ngIf="selectedState&&needShowState">
            <div class="property-input-wrap" *ngFor="let key of detailKeys">
                <label> {{ key }}: </label>
                <div class="property-input">
                    <input [(ngModel)]="selectedState[key]">
                </div>
            </div>
        </div>
    </div>

</div>