.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: tomato;
}

.footer {
    background: lightgreen;
}

.main {
    text-align: left;
    background: deepskyblue;
}

.aside-1 {
    background: gold;
}

.aside-2 {
    background: hotpink;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }
    .aside-1 {
        order: 1;
    }
    .main {
        order: 2;
    }
    .aside-2 {
        order: 3;
    }
    .footer {
        order: 4;
    }
}

body {
    padding: 2em;
}

.bg-menu {
    background: linear-gradient(to bottom, #46a2ba 0%,#8096cc 100%);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.menu-list {
    height:100%;
    background: #edf0f4;
    max-width:30%;
}

.menu-main {
    height:100%;
    width:70%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

