

.bg-menu {
    background: linear-gradient(to bottom, #46a2ba 0%,#8096cc 100%);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu-list {
    height:100%;
    background: #edf0f4;
    max-width:280px;
    position: absolute;
    overflow-y:auto;
    overflow-x:hidden;
    float:left;
    padding-top: 46px;
}

.menu-main {
    height:100%;
    padding:30px;
    overflow: hidden;
    margin-left: 250px;
    position: relative;
}

/*.menu-list + .menu-main {
    width:70%;
    float:left;
}*/

.version-info {
    position: absolute;
    right:0;
    top:0;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 12px;
    color:rgba(255,255,255,0.5);
}

.go-download {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    margin-left: 250px;
    padding-left: 140px;
    border-top: 1px solid rgba(255,255,255, 0.3);
    padding-top: 10px;
}

.go-download p {
    font-size: 11px;
    color:rgba(255,255,255, 0.8);
    font-weight: lighter;
    float: right;
    margin: 6px;
    margin-top: 10px;
}

.go-download img {
    float: right;
    width:128px;
}

.go-download img:hover {
    cursor: pointer;
}

@media screen and (max-height: 460px) {
    .go-download {
        display: none;
    }
}