<div id="container" class="bg-menu">
    <div class="menu-list">

        <app-recent-project></app-recent-project>
    </div>
    <div class="menu-main">
        <app-init-menu></app-init-menu>
    </div>
    <div class="version-info">Version 1.0</div>
    <div class="go-download">

        <p> Download the app to see your work immediately ! ▸▸</p>
       asdfasdfaf <img src="assets/images/btn_download.png" (click)="clickDownloadApp('https://play.google.com/store/apps/details?id=com.altamirasoft.baby_hub_android')" />
    </div>
</div>