<div style="background: #ff0000">


    <div id="topSide">
        <button (click)="clickBack()">Back</button>{{applicationData.applicationName}}
        <input type="text" [(ngModel)]="activityMetaData.activityName" (blur)="changeActivityName()" />
    </div>

    <div id="previewScreen" style="width: 200px;height: 100%">
        <app-object-tree #objectTree (onChangeNode)="onChangeNodeFromTree($event)" (onSelectNode)="onSelectNodeFromTree($event)"></app-object-tree>
        <app-object-new #objectNew (onClickNewObject)="clickNewObject($event)" (onChangeTreeData)="changeTreeData($event)"></app-object-new>
    </div>

    <div id="centerSide">
        <app-preview #previewCanvas></app-preview>
    </div>

    <div id="rightSide">
        <app-object-property #objectProperty (onChangeTreeData)="changePropertyData($event)"></app-object-property>
    </div>

</div>