
.navbar {
    position:relative;
    min-height: 50px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
border-top: none;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    z-index: 9999;
    margin-bottom: 0;
}

.connect-wrap {
 z-index: 9998;
    position: absolute;
    right:0;
margin-right: 186px;
width:134px;
}

.howtoconnect {
   width:100%;
background: #fff;
font-size: 12px;

text-align: center;
padding:8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
   box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
   color:#898989;
}

.connect-wrap i {
    position:absolute;
    right:0;
    top:0;
    color:#898989;
    padding:5px;
    margin:3px;
    margin-right: 5px;

}
/*
.howtoconnect a {
    color:#898989;
 
    text-decoration: none;
}

.howtoconnect a:hover {
    color:#454545;
}*/

.howtoconnect span a {
    color:#46a2ba;
    padding-right: 12px;
    text-decoration: none;
}

.howtoconnect span a:hover {
    color:#2b778b;
}

.connect-wrap .fa-close:active > .howtoconnect {
    display: none;
}


.list-wrap {
    width:100%;
    height:100%;
    background: #fff;
    padding-top: 50px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 99;
}

.list-wrap .list-left {
    margin: auto;
    width: 280px;
    height: 100%;
    background: #edf0f4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    float: left;
    position: relative;
}

.list-wrap .list-right {
    width: 100%;
    height: 100%;
    padding-left: 280px;
  
}

.nav-right {
    float:right;
}

.navbar .btn-back {
    height:50px;
    border:none;
    color:rgba(0,0,0,0.5);
    background: none;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 600;
}

.navbar .btn-back:hover {
    color:rgba(0,0,0,0.7);
    cursor: pointer;
}