<div class="popup-wrap" *ngIf="visibility">
    <div id="popup1" class="overlay" (click)="hideDialog()">
        <div class="popup" (click)="nothing($event)">


            <div>
                <handy-syntax-highlighter *ngIf="javaData" [language]="'java'" [content]="javaData"></handy-syntax-highlighter>
            </div>
            <div>
                <handy-syntax-highlighter *ngIf="layoutData" [language]="'java'" [content]="layoutData"></handy-syntax-highlighter>
            </div>


        </div>
    </div>
</div>