.stage-list {
    position: relative;
    padding: 10px 0px 0px 0px;
    width: 100%;
    z-index: 66;
    background-color: #ccc;
    min-width:min-content !important;
}

.stage-line {
    height: 1px;
    width: 100%;
    background: #aaa;
    margin-top: 8px;
    z-index: 899;
}

.stage-list p {
    margin:0;
}

.tab-class {
    border-radius: 3px;
    padding: 4px 25px 4px 8px;
    margin: 2px;
    
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    
}

.tab-class:hover {
    cursor: default;
    
}


.stage-current {
    background: #46a2ba;
    
}

.stage-notcurrent {
    font-weight: 500;
    background: #fff;
    color: #898989;    
}


.btn-new-stage {
    float:left;

    width: 30px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background: none;
    margin: 2px 0px 0px 2px;
    padding: 0px 0px 1px 0px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    z-index: 22;
}

.btn-new-stage:hover {
    color:#46a2ba;
    background: #fff;
    cursor: default;
}

.stage-list-wrap {
    position: relative;
}

.btn-delete {
    display: none;
    position: absolute;
    top:0;
    right:0;
    font-size: 14px;
    color: #fff;
    opacity: 0.4;
    padding: 4px 9px 7px 3px;
}

.stage-list-wrap:hover .tab-class {
    padding: 4px 25px 4px 8px;
}

.stage-list-wrap:hover .btn-delete {
    display: block;
    
}

.stage-list-wrap:hover .btn-delete:hover {
    opacity: 1;
}

.stage-list-wrap:hover {
    cursor: default;
}

.stage-list-wrap:hover .stage-notcurrent {
    color: #fff;
    font-weight: 500;
    background: #aaa;
}



