<div class="stage-list">
    
    <div *ngIf="stageList">
        <div style="overflow: hidden;overflow: auto; max-height: 60px; padding-left:10px;">
            <div class="stage-list-wrap" style="float: left" *ngFor="let aStage of stageList" (click)="clickSelectStage($event,aStage)">
                <div *ngIf="aStage">
                    <div [ngClass]="currentSelectedStage.id==aStage.id?'stage-current tab-class':'stage-notcurrent tab-class'">{{aStage.name}}</div>
                    <div class="btn-delete" *ngIf="aStage.id!=='rootStage'&&viewMode=='activity'" (click)="clickDeleteStage($event,aStage)"><i class="fa fa-times-circle"></i></div>
                    
                </div>
                
            </div>
            <button class="btn-new-stage" (click)="clickNewStage()"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    
    <div class="stage-line"></div>
    
</div>