.stage-list {
    padding-top: 10px;
    width: 100%;
    z-index: 66;
    background-color: #b1b6bc;
    min-width:600px !important;
}

.stage-line {
    height: 3px;
    width: 100%;
    background: radial-gradient(ellipse farthest-side at 100% 130%, #8a94d9 10%, #5aadb1 110%);
    margin-top: 5px;
    z-index: 899;
}

.stage-list p {
    margin:0;
}

.tab-class {
    border-radius: 4px;
    padding: 4px 13px 4px 14px;
    margin: 2px;
    
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    
}

.tab-class:hover {
    cursor: pointer;
    
}


.stage-current {
    background: #46a2ba;
    
}

.stage-notcurrent {
    font-weight: 500;
    background: #fff;
    color: #454545;    
}



.btn-new-stage {
    border-bottom-width: 0;
    padding: 6px 15px 7px 15px;
    background-color: transparent;
    font-size: 12px;
    color: #ececec;
    border: none;
    z-index: 22;
}

.btn-new-stage:hover {
    color:#fff;
    cursor: pointer;
}

.stage-list-wrap {
    position: relative;
    margin-bottom: 3px;
}

.btn-delete {
    display: none;
    position: absolute;
    top:0;
    right:0;
    font-size: 14px;
    color: #fff;
    opacity: 0.4;
    padding: 4px 8px 7px 8px;
}

.stage-list-wrap:hover .tab-class {
    padding: 4px 25px 4px 14px;
}

.stage-list-wrap:hover .btn-delete {
    display: block;
    
}

.stage-list-wrap:hover .btn-delete:hover {
    opacity: 1;
}

.stage-list-wrap:hover {
    cursor: pointer;
}

.stage-list-wrap:hover .stage-notcurrent {
    color: #fff;
    font-weight: 500;
    background: #898989;
}



