.preview-size {
    background-color: #efeff0;
    padding:10px;
    padding-bottom: 8px;
}



.preview-size input {
    
    height: 23px;
    width: 100%;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-top: none;
    border-bottom: none;
    
}

.preview-size .row {
    margin: 0;
}

.preview-size .row .col-xs-7 {
    padding-right: 2px;
    padding-left: 2px;
}

.preview-size .dropdown {
    width: 100%;
    text-align: center;
}

.dropdown {
    display: inline-block;
}

.mobile-size {
    position: relative;
}

.preview-size .properties-wrap {
    z-index: 9999;
}

.properties-wrap {
    position: relative;
    width: 50%;
    float: left;
}

.preview-size .dropdown button {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    color: rgba(0,0,0, 0.8);
    font-size: 13px;
    height: 24px;
}

.preview-size .dropdown button:hover {
    background: #ddd;
    cursor: default;
}

.preview-size .mobile-size button {
    position: relative;
    bottom: 1px;
    border: none;
    background-color: rgba(255,255,255,0.8);
    border-radius: 4px;
    width: auto;
    height: 24;
    padding: 0;
    margin-left: 1px;
}

.dropdown-menu {
    min-width: 60px;
    font-size: 13px;
    text-align: left;
    position: absolute;
    z-index: 999;
    background: #fff;
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.29);
    margin-top: 10px;
}

.dropdown-menu div:hover {
    background: #eee;
}

.dropdown-menu-padding {
    min-width: 120px;
    text-align: center;
}

.dropdown-menu-padding div {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #eee;
}

.properties-wrap .properties-text {
    position: absolute;
    top: 6px;
    font-size: 10px;
    left: 6px;
    color: #ccc;
}

.preview-size .properties-wrap .properties-padding {
    padding-left: 20px;
    padding-right: 0px;
}

.dropdown input {
    height: 24px;
    width: 100%;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-top: none;
    border-bottom: none;
}

.preview-size .row .col-xs-2 {
    padding-right: 2px;
    padding-left: 2px;
}

.preview-size .row .col-xs-4 {
    padding-right: 2px;
    padding-left: 2px;
}

.mobile-size .ic-mobile {
    width: auto;
    opacity: 0.5;
}

.dropdown-menu-padding div:hover {
    cursor: default;
}

.root-size {
    padding: 3px 10px;
    padding-left: 40px;
    font-size: 11px;
    border-bottom: 1px solid #ececec;
    position: relative;
}

.root-size:hover {
    cursor: default;
}

.root-size img {
    position: absolute;
    left: 0;
    margin-left: 13px;
    opacity: 0.8;
}





