.menu-main-list button {
background: transparent;
font-size: 15px;
font-weight: 400;
color:#fff;
text-shadow: 0px 0px 11px rgba(0,0,0,0.45);
border:none;
}

.menu-main-list button:hover {
    cursor: pointer;
    color:#ececec;
}

.menu-main-list {

    margin-top: 45px;
max-width:270px;
margin-left: auto;
margin-right: auto;


}

/*.hc {
    max-width: 280px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

.vc {
    max-height: 330px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#center {
    position: absolute;
    z-index: 9999!important;
}*/

.menu-list  div img {
    width:35px;
    padding:6px;
}

.menu-list {
    vertical-align: middle;
}

.menu-list {
    margin-top: 45px;
}