<div class="event-list">


    <div class="label-properties">


        <div class="col-8" style="padding-left: 0;">
            이벤트
        </div>
        <div class="col-4" align="right" style="padding:0;">
            <div>
                <img (click)="clickNewEvent()" src="assets/images/btn_motion_add.png" class="img-responsive">
            </div>
        </div>


    </div>

    <div *ngIf="!selectedTriggerEvent">


        <!-- 이벤트리스트 -->
        <div *ngIf="triggerEventList" class="go-event-detail">
            <div *ngFor="let aEvent of triggerEventList" (click)="clickDetailEvent(aEvent)">
                {{aEvent.name}} -{{getImplement(aEvent.id).name}}
                <button class="btn-trash" (click)="clickDeleteEvent($event,aEvent)"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>
        <!-- 이벤트리스트 @ -->


        <div *ngIf="!triggerEventList" class="noti-addmotions">
            <img src="assets/images/ic_motion.png" alt="add-motions">

            <a (click)="clickNewEvent()">
                <h3>Add motions</h3>
            </a>

            <p>Add the motion blah blah</p>
        </div>
    </div>

</div>