<div class="event-list">
    <div class="label-properties">
        <div class="col-8" style="padding-left: 0;">
            Event
        </div>
        <div class="col-4" align="right" style="padding:0;">
            <div class="add-new-event">
                <p (click)="clickNewEvent()">+ new</p>
            </div>
        </div>
    </div>

    <div *ngIf="!selectedTriggerEvent">
        <!-- 이벤트리스트 -->
        <div *ngIf="triggerEventList" class="go-event-detail">
            <div *ngFor="let aEvent of triggerEventList">
                <div *ngIf="aEvent.type!=='afterAnimation'">
                    <app-event-list-cell [aEvent]="aEvent" (onClickDetailEvent)="clickDetailEvent($event)" (onClickDeleteEvent)="clickDeleteEvent($event)"></app-event-list-cell>
                </div>
            </div>
            <!-- 이벤트리스트 @ -->
        </div>

        <div *ngIf="!selectedTriggerEvent&&viewMode=='activity'" class="noti-addmotions">
            <a (click)="clickNewEvent()">
                <h3>+ new event</h3>
            </a>
            <!-- <img src="assets/images/ic_motion.png" alt="add-motions"> -->
            <p>Select the object layer to trigger on first and proceed with this step.</p>
        </div>

    </div>
</div>