.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-top: none;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    z-index: 9999;
    margin-bottom: 0;
}

.navbar .btn-back {
    height: 50px;
    border: none;
    color: rgba(0,0,0,0.5);
    background: none;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 600;
}

.list-wrap{
    width: 100%;
    height: 100%;
    background: #fff;
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.list-wrap .list-left {
    margin: auto;
    width: 280px;
    height: 100%;
    background: #edf0f4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    float: left;
    position: relative;
    z-index: 999;
}

.list-wrap .list-center {
    margin: auto;
    width: 500px;
    height: 100%;
    background: #ececec;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    float: left;
     z-index: 998;
    position: relative;
}

.list-wrap .list-right {
    width: 100%;
    height: 100%;
    padding-left: 280px;
}