<div *ngIf="applicationData">

    <!-- nav bar top -->
    <div class="navbar">
        <button class="btn-back" (click)="clickBack()">◄ Back</button>
        <button class="btn-home" (click)="clickRoot()"><i class="fa fa-home"></i> Home</button>
        <button class="btn-back btn-export" (click)="clickShowExport()"><i class="fa fa-external-link"></i>Export</button>

    </div>

    <!-- navbar top finish -->


    <!-- left side -->
    <div class="list-wrap">

        <div class="list-left">
            <app-application-info [currentActivityId]="currentActivityId" [prefix]="prefix" [viewMode]="'export'" [applicationData]="applicationData"
                [applicationFolderPath]="applicationFolderPath"></app-application-info>
            <app-activity-list *ngIf="applicationData" [prefix]="prefix" [viewMode]="'export'" [currentActivityId]='currentActivityId'
                [applicationData]="applicationData" [applicationFolderPath]="applicationFolderPath"></app-activity-list>
        </div>

        <div class="list-center">

            <div *ngIf="readyToRender">

                <h3><span>{{applicationData.applicationName}}</span>
                    <span *ngIf="currentActivityId">> {{getActivityName(currentActivityId)}}</span></h3>
                <div [hidden]="currentActivityId" class="export-code-wrap">
                    <div class="export-tab">
                        <button [ngClass]="currentTab=='AndroidManifest'?'tab-selected':''" (click)="clickTab('AndroidManifest')">AndroidManifest.xml</button>
                        <button [ngClass]="currentTab=='build'?'tab-selected':''" (click)="clickTab('build')">build.gradle </button>
                        <button [ngClass]="currentTab=='strings'?'tab-selected':''" (click)="clickTab('strings')">strings.xml</button>
                    </div>

                    <div [hidden]="currentTab!=='AndroidManifest'">
                        <button class="btn-copy" [clip]="manifestXml" (onClip)="callback($event)"><i class="fa fa-clone" style="margin-right:3px;"></i>Copy</button>
                        <handy-syntax-highlighter *ngIf="manifestXml" [language]="'java'" [content]="manifestXml"></handy-syntax-highlighter>
                    </div>

                    <div [hidden]="currentTab!=='build'">
                        <button class="btn-copy" [clip]="buildGradle" (onClip)="callback($event)"><i class="fa fa-clone" style="margin-right:3px;"></i>Copy</button>
                        <handy-syntax-highlighter *ngIf="buildGradle" [language]="'java'" [content]="buildGradle"></handy-syntax-highlighter>
                    </div>

                    <div [hidden]="currentTab!=='strings'">
                        <button class="btn-copy" [clip]="stringXml" (onClip)="callback($event)"><i class="fa fa-clone" style="margin-right:3px;"></i>Copy</button>
                        <handy-syntax-highlighter *ngIf="stringXml" [language]="'java'" [content]="stringXml"></handy-syntax-highlighter>
                    </div>

                </div>



                <div *ngIf="currentActivityId" class="export-code-wrap">
                    <div class="export-tab">
                        <button [ngClass]="currentActivityTab=='xml'?'tab-selected':''" (click)="clickActivityTab('xml')">xml</button>
                        <button [ngClass]="currentActivityTab=='java'?'tab-selected':''" (click)="clickActivityTab('java')">java </button>
                    </div>

                    <div *ngFor="let aData of activityDataList">
                        <div [hidden]="aData.activityId!==currentActivityId">
                            <div [hidden]="currentActivityTab=='java'">
                                <p style="font-size:13px;">{{aData.codeLayoutName}}.xml </p><button class="btn-copy" [clip]="aData.layout" (onClip)="callback($event)"><i class="fa fa-clone" style="margin-right:3px;"></i>Copy</button>
                                <handy-syntax-highlighter [language]="'java'" [content]="aData.layout"></handy-syntax-highlighter>
                            </div>
                            <div [hidden]="currentActivityTab=='xml'">
                                <p style="font-size:13px;"> {{aData.codeActivityName}}.java </p>
                                <button class="btn-copy" [clip]="aData.java" (onClip)="callback($event)"><i class="fa fa-clone" style="margin-right:3px;"></i>Copy</button>
                                <handy-syntax-highlighter [language]="'java'" [content]="aData.java"></handy-syntax-highlighter>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="list-right">
            <!-- right side -->
            <div class="export-right">
                <app-resource #resourceDialog (onSelectFile)="onSelectFile($event)" [viewMode]="'export'"></app-resource>
            </div>
        </div>
    </div>
</div>


<div *ngIf="applicationData">
    <div [hidden]="!showExportPanel" class="overlay" (click)="clickHideExport()">
        <div class="popup-wrap">
            <div class="popup export-popup" (click)="nothing($event)">

                <div class="export-popup-nav">
                    <div class="export-text">
                        <span>Export</span>  for developer
                    </div>
                </div>

                <div class="application-name">
                    <h4>You can apply the exported code to Android Studio</h4>
                    <h3>{{applicationData.applicationName}}</h3>

                    <div class="export-info" align="center" style="padding-top:20px; padding-bottom:20px;"> 
                        <img src="assets/images/export_illust.png" width="350px" />
                        <p>Design Guide documents for developers can be opened with
                                Safari and Chrome.</p>
                    </div>

                    <h5 style="margin-top: 5px; margin-bottom: 5px; ">path </h5>
                    <div class="project-folder">
                        <input class="form-control" type="text" [(ngModel)]="workspaceFolderPath" />
                        <button class="btn-change" (click)="clickChangeFolder()">···</button>
                    </div>
                </div>
                <div *ngIf="isLoading">
                    Exporting...
                </div>
                <div class="export-popup-footer">
                    <div class="btn-new-save">
                        <button class="export-popup-cancel" (click)="clickHideExport()">Cancel</button>
                        <button (click)="clickExport() "class="final-export">Export </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>