.object-new .btn-object-new {
         width: 32.5%;
    height: 84px;
    border: none;
    background-color: #fff;
    position: relative;
    margin:1px;
 
}


.layers-btn {
    padding: 15px;
    background-color: #ebebeb;
}

.layers-btn::after
{content:””; display:block; clear:both;}


.object-new .btn-object-new:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.23);
    z-index: 7999;
    transition: 0.1s all ease;
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    -ms-transition: 0.1s all ease;
    cursor: pointer;
}

.layers-btn .motion-btn {
    float: left;
}



.motion-btn-wrap {
    overflow: hidden;
}

.layers-btn .motion-btn img {
    max-width: 45px;
    max-height: 53px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px;
}

.layers-btn .motion-btn p {
    text-align: center;
    width: 100%;
    font-size: 11px;
    color: #454545;
    position: absolute;
    bottom: 1px;
    margin-bottom: 6px;
}

.img-responsive {
        display: block;
    max-width: 100%;
    height: auto;
}


.object-new {
    position: relative;

    overflow: hidden;
}

.label-properties img {
    width: 18px;
    cursor: pointer;
    opacity: 0.7;
    padding-top: 3px;
}

.label-properties img:hover {
   
    opacity: 1;
}

.col-8{
    width: 66%;
    float: left;
}

.col-4 {
    width: 33%;
    float: right;
}

.label-properties{
    font-size: 14px;
    font-weight: 600;
    padding: 6px 10px;
    background-color: #fff;
    color: #454545;
    position: relative;
    overflow: hidden;
}


.object-new .btn-resource{
    width: 22.5%;
    height: 56px;
    border: 1px solid #ccc;
    background: url(../../../assets/images/bg_transparent.png);    position: relative;
    position: relative;
    margin: 3px;
    float: left;
}



.select-file div {
margin: 0;
font-size: 12px;
color:#898989;
text-align: center;
padding:5px;

}

.select-file div a {
    text-decoration: none;
    color:#898989;
}

.select-file div a:hover {
    color:#454545;
}

.select-file div .active {
    color:#46a2ba;
}

.select-file div .active:hover {
    color:#1e839d;
}
