<div *ngIf="selectedTriggerEvent && selectedImplementEvent.type=='finishActivity'">
    <div>

        <app-event-detail-trigger-object [viewMode]="viewMode" [prefix]="prefix" [selectedTriggerEvent]="selectedTriggerEvent"></app-event-detail-trigger-object>


        Will finish this activity
        <img width="100px" height="150px" [src]="getCurrentActivityPreviewImage()">

    </div>

    <!-- 이벤트 디테일 하단 : 애프터애니메이션 클릭시 이벤트생성 팝업-->
    <div class="event-detail-footer" *ngIf="selectedImplementEvent.type=='finishActivity'">
        <div>
            <button (click)="clickDone()">Done</button>
        </div>
    </div>



</div>