<div *ngIf="viewMode=='activity'">
    <div class="popup-wrap" *ngIf="visibility">
        <div id="popup1" class="overlay" (click)="hideDialog()">
            <div class="popup" (click)="nothing($event)">

                <div class="resource-nav">
                    <!-- <button class="btn-image btn-select btn-tab" style="color:#46a2ba;" *ngIf="tab=='image'" (click)="clickTab($event,'image')">Image</button>
                    <button class="btn-image  btn-tab" *ngIf="tab!='image'" (click)="clickTab($event,'image')">Image</button>

                    <button class="btn-file btn-select btn-tab" style="color:#46a2ba;" *ngIf="tab=='mp4'" (click)="clickTab($event,'mp4')">Video</button>
                    <button class="btn-file btn-tab" *ngIf="tab!='mp4'" (click)="clickTab($event,'mp4')">Video</button>

                    <button class="btn-file btn-select btn-tab" style="color:#46a2ba;" *ngIf="tab=='json'" (click)="clickTab($event,'json')">Lottie</button>
                    <button class="btn-file btn-tab" *ngIf="tab!='json'" (click)="clickTab($event,'json')">Lottie</button> -->

                    <div class="resource-add">
                        <button *ngIf="tab=='image'" (click)="clickNewFile($event,'image')">+ New Image</button>
                        <button *ngIf="tab=='json'" align="left" (click)="clickNewFile($event,'json')">+ New File</button>
                        <button *ngIf="tab=='mp4'" align="left" (click)="clickNewFile($event,'mp4')">+ New File</button>

                        <button class="resource-delete" (click)="clickDeleteMode()">
                            <img src="assets/images/ic_trashcan.png" />
                        </button>
                    </div>
                </div>



                <div class="resource-wrap">
                    <div *ngIf="tab=='image'">
                        <h3>Uploaded Image</h3>
                        <div class="image-list">
                            <div *ngFor="let imageUrl of imageList" class="bg-img">
                                <div class="img-delete" *ngIf="isDeleteMode" (click)="clickDeleteFile(imageUrl)">
                                    <div class="img-delete-icon">
                                        <i class="fa fa-trash-o" style="font-size:21px;"></i>
                                    </div>
                                </div>
                                <div class="img-select" *ngIf="imageUrl==selectedFileUrl">
                                </div>
                                <img [src]="prefix+applicationFolderPath+'/'+imageUrl" (click)="clickFile(imageUrl)">
                            </div>
                        </div>
                    </div>

                    <div *ngIf="tab=='json'">
                        <h3>Uploaded Lottie File</h3>
                        <div class="image-list">
                            <div *ngFor="let fileUrl of jsonFileList" class="bg-img">
                                <div class="img-delete" *ngIf="isDeleteMode" (click)="clickDeleteFile(fileUrl)">
                                    <div class="img-delete-icon">
                                        <img src="assets/images/ic_trashcan.png" />
                                    </div>
                                </div>
                                <div class="img-select" *ngIf="fileUrl==selectedFileUrl">
                                </div>
                                <app-lottie-animation-view [initUrl]="fileUrl" style="width:100%;height:100%;" (click)="clickFile(fileUrl)">
                                </app-lottie-animation-view>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="tab=='mp4'">
                        <h3>Uploaded Video File</h3>
                        <div class="image-list">
                            <div *ngFor="let fileUrl of videoFileList" class="bg-img">
                                <div class="img-delete" *ngIf="isDeleteMode" (click)="clickDeleteFile(fileUrl)">
                                    <div class="img-delete-icon">
                                        <img src="assets/images/ic_trashcan.png" />
                                    </div>
                                </div>
                                <div class="img-select" *ngIf="fileUrl==selectedFileUrl">
                                </div>
                                <video #videoView [src]="prefix+applicationFolderPath+ '/'+fileUrl" onError="this.src='assets/images/ic_video.png' " autoplay loop style="width:100%;height:100%;" (click)="clickFile(fileUrl)"></video>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="resource-footer">
                    <div>Filename: <span class="file-select-pick ">{{selectedFileUrl}}</span></div>
                    <div class="resource-apply">
                        <button (click)="hideDialog()">Cancel</button>
                        <button (click)="clickApply()" [hidden]="isDeleteMode">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="viewMode=='export'" style="height:100%;">
    <!-- image -->
    <div class="label-properties-2">
        Image {{imageList.length}} <button (click)="clickImageFolder()"><i class="fa fa-folder-open"></i></button>
    </div>
    <div class="image-list" style="height:45%;">
        <div *ngFor="let imageUrl of imageList" class="bg-img">
            <img [src]="prefix+applicationFolderPath+'/'+imageUrl" (click)="clickFile(imageUrl)">
        </div>
    </div>

    <!-- file -->
    <div class="label-properties-2">
        Json {{jsonFileList.length}} <button (click)="clickFileFolder()"><i class="fa fa-folder-open"></i></button>
    </div>
    <div class="image-list" style="height:45%; padding-bottom: 10px;">

        <div class="lottie-list">
            <div *ngFor="let fileUrl of jsonFileList" class="bg-img">
                <app-lottie-animation-view [initUrl]="fileUrl" style="width:100%;height:100%;" (click)="clickFile(fileUrl)">
                </app-lottie-animation-view>
            </div>
        </div>

    </div>
</div>