/* popup test */

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    margin-top: 50px;
    color: #fff;
    border: 2px solid #46a2ba;
    color: #46a2ba;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #46a2ba;
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
    z-index: 9999;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 90px auto;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    border-radius: 5px;
    width: 800px;
    height: 500px;
    position: relative;
    transition: all 5s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}

.popup .active {
    color: #46a2ba;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    z-index: 9999;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup-list .col-sm-3 {
    width: 20%;
    padding: 10px;
}

.popup-new {
    border: 2px solid #ececec;
    border-radius: 4px;
    height: 460px;
    text-align: center;
    padding-top: 100px;
    color: #898989;
}

.popup-new:hover {
    color: #46a2ba;
}

.popup-new img {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
}

.popup-category {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.popup-category label {
    font-size: 12px;
    padding-right: 30px;
}

.popup-category input {
    position: absolute;
    right: 0;
    top: 0;
}

.popup-nav label {
    padding-right: 20px;
}


/*popup test finish */

.popup .resource-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid #ececec;
    background: #fff;
    padding: 12px;
    box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.2);
}

.popup .resource-footer button {
    background: transparent;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: #454545;
}

.popup .resource-footer button:hover {
    cursor: pointer;
    color: #46a2ba;
}

.resource-apply {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px;
}

.popup .resource-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: 1px solid #ececec;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.resource-nav .btn-tab {
    padding: 16px;
    width: 100px;
}

.resource-nav .btn-select {
    border-bottom: 3px solid #46a2ba!important;
}

.popup .resource-nav .resource-add {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
}

.popup .resource-nav .resource-add button {
    font-weight: normal;
    font-family: inherit;
}

.popup .resource-nav .resource-add .resource-delete {
    border: 1px solid #eee;
    padding: 0;
}

.popup .resource-nav .resource-add .resource-delete:hover {
    background: #f3f3f3;
    border: 1px solid #eee;

}

.popup .resource-nav .resource-add .resource-delete img {
    padding: 0;
}

.popup .resource-nav button {
    background: transparent;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #898989;
    font-weight: bold;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .resource-nav button:hover {
    cursor: pointer;
    color: #46a2ba;
}

.resource-wrap {
    overflow: hidden;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: auto;
}

.resource-wrap h3 {
    margin-top: 0;
}

.image-list {
    
    overflow-x: hidden;
    overflow-y: auto;
}

.image-list .bg-img {
    float: left;
    margin: 5px;
    background: #eee;
    border: 1px solid #ececec;
    position: relative;
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-list .bg-img img {
    max-width: 92px;
    max-height: 92px;
}

.image-list .bg-img img:hover{
    cursor: pointer;
}

.resource-wrap .img-delete {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid red;
}

.resource-wrap .img-delete .img-delete-icon {
    position: absolute;
    border: 1px solid red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 14px 16px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(255, 255, 255, 0.7);
    color: red;
}

.resource-wrap .img-select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #46a2ba;
}

.resource-wrap .img-delete .img-delete-icon:hover {
    background: red;
    color: #ffffff;
}

.file-list {
    padding: 8px;
    font-size: 15px;
    color: #454545;
    border-bottom: 1px solid #ececec;
    overflow-y: scroll;
}

.file-list:hover {
    color: #46a2ba;
    cursor: default;
}

.file-select-pick {
    color: #46a2ba;
}

.label-properties-2 {
    font-size: 12px;
    font-weight: 600;
    padding: 6px 10px;
    background-color: #efeff0;
    border-top: #dfdfe0 1px solid;
    border-bottom: #dfdfe0 1px solid;
    color: #454545;
    position: relative;
    margin-bottom: 0px !important;
}

.label-properties-2 button {
    background: transparent;
    position: absolute;
    right:0;
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    color:#898989;
    top:0;
}

.label-properties-2 button:hover {
    color:#454545;
    cursor: default;
}