/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.object-list-wrap {
   
    border-bottom: 1px solid #ececec;
}

.object-list-wrap P {
    font-size: 12px;
}

.object-list {
    overflow: hidden;
    font-size: 12px;
}

.object-list-main {
    float: left;
}

.object-name {
    font-size: 12px;
    width: 75px;
    overflow: scroll;
}

.object-preview {
    background: #fff;
    border: 1px solid #ececec;
    margin-left: 5px;
}

.object-preview:hover {
    cursor: pointer;
}

.object-dropdown {
    margin-top: 15px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 3px;
    background: #fff;
    position: relative;
}

.tri {
    width: 0px;
    height: 0px;
    border-top: 10px solid none;
    border-bottom: 10px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0;
    margin-top: -10px;
    left: 0;
    margin-left: 66px;
}

.object-switch {
    display: none;
}

.event-time {
    overflow: hidden;
}

.event-time div {
    width: 50%;
    float: left;
}

.event-time input {
    width: 73px;
    margin-left: 10px;
}

.interpolator-select {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}


/* 토글버튼 */


/*.toggle_button {
    cursor:pointer;
    display:block;
    background:#eee;
    text-align:center;
    border:1px solid #ccc;
}
#toggle_button,
#toggle_contents {
    height:0;
    overflow:hidden;
    position:absolute;
}
#toggle_button:checked + #toggle_contents {
    height:auto;
    position:relative;
    border:1px solid #ccc;
    border-top:0;
    padding:10px;
}*/


/* 토글버튼 @ */

#nav,
#toggle {
    display: none;
}

#toggle:checked+#nav {
    display: inline-block;
}

.event-stageChange {
    overflow: hidden;
    position: relative;
    height: 100%;
    padding-bottom: 108px;
}

.event-detail {
    overflow: hidden;
    background: #f9fafb;
    padding: 15px;
    font-size: 13px;
}

.event-detail img {
    width: 20px;
    height: auto;
    float: left;
}

.event-detail h4 {
    float: left;
    margin: 0;
    font-size: 13px;
    color: #454545;
    margin-top: 4px;
    padding-left: 10px;
}

.selected-object *, .selected-trigger *, .selected-event *{
    display: inline-block;
    vertical-align: middle;
}

.event-detail h5 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.event-detail p{
    margin: 0;
    padding-left: 32px;
}

.event-detail-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    background: #ebebeb;
    padding: 15px;
}

.event-detail-footer .btn-afterAni {
    width: 100%;
    border-radius: 50px;
    border: 2px solid #46a2ba;
    background: transparent;
    margin-bottom: 10px;
    color: #46abca;
    padding: 8px;
}

.event-detail-footer button {
    background: #46a2ba;
    color: #fff;
    width: 142px;
    padding: 8px;
    border-radius: 50px;
    border: none;
}

.event-detail-footer button:hover {
    cursor: pointer;
    background: #3a97af;
}

.event-detail-footer .btn-afterAni:hover {
    background: rgba(255, 255, 255, 0.5);
}


/* 인터폴레이터 막대그래프 */

.graph {
    height: 6px;
    width: 180px;
    margin-bottom: 0.5em;
    margin-left: 10px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.0725em;
    text-align: center;
    margin-top: 5px;
}

.graph-bar {
    float: left;
    width: 0;
    height: 100%;
    color: #ffffff;
    background-color: #46abca;
    box-sizing: border-box;
}


/* 인터폴레이터 막대그래프 @*/


/* 인터폴레이터 커브 그래프 */

.curve-graph {
    position: relative;
    height: 300px;
    text-align: center;
}

.coordinate-plane {
    position: absolute;
    margin-left: 6px;
    left: 0;
    line-height: 0;
}

.control-point {
    position: absolute;
    z-index: 1;
    height: 16px;
    width: 16px;
    border: 1px solid rgba(0, 0, 0, .3);
    margin: -8px 0 0 -8px;
    outline: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#P0,
#P3 {
    background: white;
}

#P0 {
    left: 0;
    top: 100%;
}

#P1 {
    background: #f08;
}

#P2 {
    background: #0ab;
}

#P3 {
    left: 100%;
    top: 0;
}

#P1,
#P2 {
    cursor: pointer;
}

canvas#curve {
    background: #f0f0f0;
    background: -moz-linear-gradient(-45deg, transparent 50%, rgba(0, 0, 0, .1) 49%, rgba(0, 0, 0, .1) 51%, transparent 51%, transparent) center no-repeat, -moz-repeating-linear-gradient(white, white 20px, transparent 20px, transparent 40px) no-repeat, -moz-linear-gradient( rgba(0, 0, 0, .06) 25%, rgba(0, 0, 0, .06) 75%);
    background: -ms-linear-gradient(-45deg, transparent 50%, rgba(0, 0, 0, .1) 49%, rgba(0, 0, 0, .1) 51%, transparent 51%) center no-repeat, -ms-repeating-linear-gradient(white, white 20px, transparent 20px, transparent 40px) no-repeat, -ms-linear-gradient( rgba(0, 0, 0, .06) 25%, rgba(0, 0, 0, .06) 75%);
    background: -o-linear-gradient(-45deg, transparent 50%, rgba(0, 0, 0, .1) 49%, rgba(0, 0, 0, .1) 51%, transparent 51%) center no-repeat, -o-repeating-linear-gradient(white, white 20px, transparent 20px, transparent 40px) no-repeat, -o-linear-gradient( rgba(0, 0, 0, .06) 25%, rgba(0, 0, 0, .06) 75%);
    background: -webkit-linear-gradient(-45deg, transparent 50%, rgba(0, 0, 0, .1) 49%, rgba(0, 0, 0, .1) 51%, transparent 51%) center no-repeat, -webkit-repeating-linear-gradient(white, white 20px, transparent 20px, transparent 40px) no-repeat, -webkit-linear-gradient( rgba(0, 0, 0, .06) 25%, rgba(0, 0, 0, .06) 75%);
    background: linear-gradient(-45deg, transparent 50%, rgba(0, 0, 0, .1) 49%, rgba(0, 0, 0, .1) 51%, transparent 51%) center no-repeat, repeating-linear-gradient(white, white 20px, transparent 20px, transparent 40px) no-repeat, linear-gradient(rgba(0, 0, 0, .06) 25%, rgba(0, 0, 0, .06) 75%);
    background-size: 100% 100%, 100% 100%, auto;
    background-position: 25%, 0, 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.coordinate-plane:before {
    content: 'Progression';
    border-bottom: 1px solid;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: bottom left;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: bottom left;
    -o-transform: rotate(-90deg);
    -o-transform-origin: bottom left;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: bottom left;
    transform: rotate(-90deg);
    transform-origin: bottom left;
}

.coordinate-plane:after {
    content: 'Time';
    border-top: 1px solid;
    margin-bottom: -1.5em;
}

.coordinate-plane:before,
.coordinate-plane:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .3em .5em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .6);
    text-transform: uppercase;
    font-size: 75%;
    line-height: 1;
}


/* 인터폴레이터 커브그래프 @*/

.curve-input input {
    width: 131px;
    margin-bottom: 6px;
}

.curve-input .input-left {
    margin-right: 4px;
}

.curve-input .input-right {
    margin-left: 4px;
}