<div *ngIf="selectedImplementEvent&&stateEventList">
    <div *ngIf="selectedImplementEvent.type=='stageChange'" class="event-stageChange">

        <div class="event-detail">
            <!--{{selectedImplementEvent.type}}-->


            <div *ngIf="selectedTriggerEvent.type=='click'">
                ({{getObjectData(selectedTriggerEvent.objectId).type}})- {{getObjectData(selectedTriggerEvent.objectId).name}}
            </div>
            

            <!-- 이벤트에 대한 상세 정보 -->
            <div class="selected-trigger">
                <h5> {{selectedTriggerEvent.name}}</h5>
            </div>

            <div class="selected-event">
                <div>
                    <img src="assets/images/btn_stagechange.png" />
                </div>
                <h5> {{selectedImplementEvent.type}}</h5>
            </div>

            <div class="from-to">
                <p> {{selectedImplementEvent.fromStageName}}
                    <i class="fa fa-angle-right" style="color:#46a2ba;"></i> {{selectedImplementEvent.toStageName}}</p>
            </div>
        </div>



        <!-- 각 오브젝트별 이벤트 인터폴레이터 -->


        <div *ngFor="let aStateEvent of stateEventList" class="object-list-wrap">

            <!-- 오브젝트 리스트 -->
            <div class="object-list">
                <app-event-state-change-cell [maxTotalTime]="maxTotalTime" (onChangeTimeLineFromStateCell)="onChangeTimeLineFromStateCell($event)" [stateEventData]="aStateEvent"></app-event-state-change-cell>
            </div>
            <!-- 오브젝트 리스트@ -->
        </div>

        <!-- 각 오브젝트별 이벤트 인터폴레이터 @-->
    </div>

    <!-- 이벤트 디테일 하단 : 애프터애니메이션 클릭시 이벤트생성 팝업-->
    <div class="event-detail-footer">
        <div *ngIf="viewMode==='activity'">
            <button class="btn-afterAni" (click)="clickAddAfterAnimation()" [hidden]="haveAfterAnimation()||selectedImplementEvent.type!=='stageChange'">AfterAnimation</button>
            <button (click)="clickCancel()">Cancel</button>
            <button (click)="clickDone()">Done</button>
        </div>
        <div *ngIf="viewMode!=='activity'">
            <button (click)="clickDone()">Done</button>
        </div>
    </div>





</div>