<p>
    object-new works!
    <button (click)="clickNewObject('RelativeLayout')">RelativeLayout</button>
    <button (click)="clickNewObject('FrameLayout')">FrameLayout</button>
    <button (click)="clickNewObject('Button')">Button</button>
    <button (click)="clickNewObject('ImageView')">ImageView</button>
    <button (click)="clickNewObject('View')">View</button>
    <button (click)="clickNewObject('TextView')">TextView</button>
    <button (click)="clickNewObject('EditText')">EditText</button>
    <button (click)="clickNewObject('ScrollView')">ScrollView</button>


</p>