<div (mousemove)="mouseOver($event)" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" class="noselect">
    <div (window:resize)="onResize($event)" *ngIf="activityData">
        <div #previewScreen *ngFor="let aObject of activityData.objectList" [ngStyle]="getCenterStyle()">
            <app-preview-object [objectData]="aObject"></app-preview-object>
            <div [ngStyle]="getSelectedObjectStyle()">
                <div class="preview-dot dot-1"  (mousedown)="resizeDown($event,0)"></div>
                <div class="preview-dot dot-2"  (mousedown)="resizeDown($event,1)"></div>
                <div class="preview-dot dot-3"  (mousedown)="resizeDown($event,2)"></div>
                <div class="preview-dot dot-4"  (mousedown)="resizeDown($event,3)"></div>
            </div>
        </div>
    </div>
</div>