<div #myPreview (mousemove)="mouseOver($event)" (mouseleave)="mouseLeave($event)" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" class="noselect" (window:keydown)="keyDown($event)" (window:keyup)="keyUp($event)">
    <div (window:resize)="onResize($event)" *ngIf="activityData">
        <div #previewScreen *ngFor="let aObject of activityData.objectList" [ngStyle]="getCenterStyle()">
            <app-preview-object [objectData]="aObject" [prefix]="prefix"></app-preview-object>
            <div [ngStyle]="getSelectedOverObjectStyle()" *ngIf="this.appDataService.getSelectedState()&&!isResizeDown&&selectedOverState&&this.appDataService.getSelectedState().id!==selectedOverState.id">
            </div>

            <!-- <div [ngStyle]="getSelectedSnapStyle()">
            </div> -->


            <div [ngStyle]="getSelectedObjectStyle()">
                <div class="preview-dot dot-0" (mousedown)="resizeDown($event,0)" *ngIf="!isRoot()"></div>
                <div class="preview-dot dot-1" (mousedown)="resizeDown($event,1)" *ngIf="!isRoot()"></div>
                <div class="preview-dot dot-2" (mousedown)="resizeDown($event,2)" *ngIf="!isRoot()"></div>
                <div class="preview-dot dot-3" (mousedown)="resizeDown($event,3)" *ngIf="!isRoot()"></div>

                <div class="preview-dot dot-4" [ngStyle]="{'left': getCenterPoint(4)}" (mousedown)="resizeDown($event,4)" *ngIf="!isRoot()"></div>
                <div class="preview-dot dot-5" [ngStyle]="{'top': getCenterPoint(5)}" (mousedown)="resizeDown($event,5)" *ngIf="!isRoot()"></div>
                <div class="preview-dot dot-6" [ngStyle]="{'left': getCenterPoint(6)}" (mousedown)="resizeDown($event,6)" *ngIf="!isRoot()"></div>
                <div class="preview-dot dot-7" [ngStyle]="{'top': getCenterPoint(7)}" (mousedown)="resizeDown($event,7)" *ngIf="!isRoot()"></div>
            </div>
        </div>
    </div>
</div>