.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.preview-dot {
    width: 6px;
    height: 6px;
    background-color: #46a2ba;
    position: absolute; 
}

.dot-0 {
    left: 0;
    top: 0;
    margin-left: -3px;
    margin-top: -3px;
    cursor: nw-resize;
}

.dot-1 {
    right: 0;
    top: 0;
    margin-right: -3px;
    margin-top: -3px;
    cursor: ne-resize;
}

.dot-2 {
    left: 0;
    bottom: 0;
    margin-left: -3px;
    margin-bottom: -3px;
    cursor: sw-resize;
}

.dot-3 {
    right: 0;
    bottom: 0;
    margin-right: -3px;
    margin-bottom: -3px;
    cursor: se-resize;
}

.dot-4 {
    top: 0;
    margin-top: -3px;
    cursor: n-resize;
}

.dot-5 {
    right: 0;
    margin-right: -3px;
    cursor: e-resize;
}

.dot-6 {
    bottom: 0;
    margin-bottom: -3px;
    cursor: s-resize;
}

.dot-7 {
    left: 0;
    margin-left: -3px;
    cursor: w-resize;
}

app-preview-object div:hover {
    border: 1px solid #000000;
}