/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 14px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #46abca;
}

input:focus+.slider {
    box-shadow: 0 0 1px #46abca;
}

input:checked+.slider:before {
    -webkit-transform: translateX(6px);
    -ms-transform: translateX(6px);
    transform: translateX(6px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.event-time {
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
}

.event-time div {
    width: 50%;
    float: left;
}

.event-time input {
    width: 73px;
    margin-left: 10px;
    background: #f1f1f1;
    border-radius: 3px;
    border: none;
    padding: 3px;
        padding-left: 10px;
    padding-right: 10px;
}

.interpolator-select {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
       height: 30px;
       font-size: 13px;
}


/* 인터폴레이터 커브그래프 @*/

.curve-input input {
      width: 131px;
    margin-bottom: 6px;
    background: #f1f1f1;
    border-radius: 3px;
    border: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;

}

.curve-input .input-left {
    margin-right: 4px;
}

.curve-input .input-right {
    margin-left: 4px;
}

.object-detail {
    background: #fff;
    padding:10px;
    position: relative;
    margin-top: -1px;
 
}

/*오브젝트 디테일 말풍선 삼각형 */

.tri {
    width: 0px;
    height: 0px;
    border-top: 10px solid none;
    border-bottom: 10px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0;
    margin-top: -10px;
    left: 0;
    margin-left: 92px;
}

.object-list-main {
    vertical-align: middle;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.object-list {
    float: left;
}

.object-id {
    width:75px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}



.timeline-preview {
    margin-top: 5px;
    margin-left: 6px;
}

.go-graph canvas {
background: #fff !important;
}

.go-graph:hover {
    cursor: pointer;

}

.graph-wrap p, .timeline-wrap p {
    padding-top: 10px;
    font-size: 10px;
    color:#898989;
    margin:0;
}
