/* You can add global styles to this file, and also import other style files */



body {
    font-family: 'spoqa', Arial, Helvetica, sans-serif; 
    /*font-family: 'Roboto', sans-serif;*/
    margin: 0;
    line-height: 1.42857143;
}

input, textarea, keygen, select, button {
    font-family: 'spoqa', Arial, Helvetica, sans-serif; 
    /*font-family: 'Roboto', sans-serif;*/
}

* {
    box-sizing: border-box;
}

::selection{background:#bec9e5;}

:focus {
    outline: none;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

img {
    vertical-align: middle;
}



.label-properties {
    font-size: 14px;
    font-weight: 600;
    padding: 6px 10px;
    background-color: #fff;
    color: #454545;
    position: relative;
}