.btn-icon {
    position: relative;
    margin-top: 20px;
}

.btn-icon>img{
    border: 1px dashed rgba(0, 0, 0, .4);
    border-radius: 10px;
}

.btn-icon-edit {
    width: 26px;
    height: 26px;
    position: absolute;
    bottom: -8px;
    right: 65px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ececec;
    border-radius: 4px;
    color: #898989;
    font-size: 14px;
}

.project-edit {
    background: none;
    border: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.project-edit:focus {
    outline: 0;
    background: rgba(255, 255, 255, 0.7);
}

.project-path-edit {
    background: none;
    border: none;
    text-align: center;
    font-size: 12px;
    color: #898989;
    margin-top: 10px;
    width: 100%;
}

.project-path-edit:focus {
    outline: 0;
    background: rgba(255, 255, 255, 0.7);
}

.application-current:hover {
    cursor: pointer;
    background: #ddd;
}

.app-info:hover{
    cursor: pointer;
    background: #ddd;
}

/* popup test */

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    margin-top: 50px;
    color: #fff;
    border: 2px solid #46a2ba;
    color: #46a2ba;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #46a2ba;
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 800px;
    height: 500px;
    position: relative;
    transition: all 5s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}

.popup .active {
    color: #46a2ba;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    z-index: 9999;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup-list .col-sm-3 {
    width: 20%;
    padding: 10px;
}

.popup-new {
    border: 2px solid #ececec;
    border-radius: 4px;
    height: 460px;
    text-align: center;
    padding-top: 100px;
    color: #898989;
}

.popup-new:hover {
    color: #46a2ba;
}

.popup-new img {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
}

.popup-category {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.popup-category label {
    font-size: 12px;
    padding-right: 30px;
}

.popup-category input {
    position: absolute;
    right: 0;
    top: 0;
}

.popup-nav label {
    padding-right: 20px;
}


/*popup test finish */

.btn-resource {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 8px;
    background: transparent;
    border: 2px solid #46a2ba;
    border-radius: 5px;
    color: #46a2ba;
    font-weight: bold;
    font-size: 14px;
}

.btn-resource:hover {
    cursor: pointer;
    background: #46a2ba;
    color: #fff;
}

