.menu-main-list button {
    /* color */
    background: transparent;
    /* position */
    position: relative;
    top: 1px;
    /* typo */
    font-size: 15px;
    font-weight: 400;
    text-align:left;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* sytle */
    width: 100%;
    border: none;
    padding-right: 4px;
    margin: 4px;
}

.menu-main-list button:hover {
    cursor: pointer;
    /* border: solid 1px; */
    border-radius: 3px;
    background-color:rgba(255, 255, 255, 0.2);
}

.menu-main-list {
    margin-top: 25px;
    max-width: 270px;
}

#center {
    position: absolute;
    z-index: 9999!important;
}

.vc {
    max-height: 400px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.hc {
    max-width: 280px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.menu-main-list .main-img {
    width: 140px;
}


/*.hc {
    max-width: 280px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
}

.vc {
    max-height: 330px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#center {
    position: absolute;
    z-index: 9999!important;
}*/

.menu-list div img {
    width: 40px;
    height: 25px;
    padding-right: 15px;
}

.menu-list {
    vertical-align: middle;
}

.menu-list {
    margin-top: 55px;
}