<div id="center" class="menu-main-list hc vc">
    <div align="center"><img class="main-img" src="assets/images/ic_logo_main.png" /></div>
    <!--menu list -->
    <div class="menu-list">
        <div><img src="assets/images/ic_new.png"> <button (click)="clickNewApplication()">Start a new VXM project</button></div>
        <div><img src="assets/images/ic_open.png"> <button (click)="clickOpenApplication()">Open an exisiting VXM project</button></div>
        <div><img src="assets/images/ic_howtouse.png"> <button (click)="clickHelp()">How to use</button></div>
        <div><img src="assets/images/ic_setting_white.png"> <button (click)="clickSettingApplication()">Settings</button></div>

        <button (click)="clickGuide()">Guid</button>
    </div>
    <!-- menu list finish -->
</div>