<div id="center" class="menu-main-list hc vc">
    <div align="center"><img class="main-img" src="assets/images/ic_logo_main3.png" /></div>
    <!--menu list -->
    <div class="menu-list">
        <div> <button (click)="clickNewApplication()"><img src="assets/images/ic_new.png">Start a new VXM project</button></div>
        <div> <button (click)="clickOpenApplication()"><img src="assets/images/ic_open.png">Open an exisiting VXM project</button></div>
        <div> <button (click)="clickHelp()"><img src="assets/images/ic_howtouse.png">How to use</button></div>
        <!-- <div> <button (click)="clickSettingApplication()"><img src="assets/images/ic_setting_white.png">Settings</button></div> -->
        <!-- <div> <button (click)="clickGuide()"><img src="assets/images/ic_designguide.png">Design guide</button></div> -->
    </div>
    <!-- menu list finish -->
</div>