<div #cellRoot>
    <!-- 오브젝트 이름-->
    <div class="object-name object-list-main">
        {{getObjectName(stateEventData.objectId).name}}
    </div>


    <canvas canvasW="80" canvasH="80" width="80" height="80" #myCanvas style="border:1px solid #c3c3c3;"></canvas>


    <!-- 활성화 버튼-->
    <div class="object-switch">
        <label class="switch">
                        <input type="checkbox" [checked]="stateEventData.isEnabled" (change)="stateEventData.isEnabled = !stateEventData.isEnabled" >
                        <div class="slider round"></div>
                    </label>
    </div>



    <br>




    <button (click)="toggleDetail()">toggle</button>
    <div [hidden]="!isExpanded">
        <!-- 인터폴레이터 수치 그래프 -->
        <canvas canvasW="200" canvasH="200" width="200" height="200" (mousemove)="mouseMove($event)" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" #myCanvas style="border:1px solid #c3c3c3;"></canvas>

        <div class="tri"></div>

        <!-- 시작 시간 및 동작 시간-->
        <div class="event-time">
            <div class="event-delay">
                Delay <input [(ngModel)]="stateEventData.startDelay">
            </div>
            <div class="event-duration">
                Duration<input [(ngModel)]="stateEventData.duration">
            </div>
        </div>

        <!-- 인터폴레이터 종류 선택-->
        <select class="interpolator-select" (change)="onChangeInterpolator($event.target.value, stateEventData)"> 
                        <option  *ngFor="let aSet of presetInterpolatorList" [value]="aSet.value">{{aSet.name}}</option>
                    </select>



        <!-- 인터폴레이터 수치 조절-->
        <div class="curve-input">
            <input class="input-left" [(ngModel)]="stateEventData.cubicValue[0]"><input class="input-right" [(ngModel)]="stateEventData.cubicValue[1]">
            <input class="input-left" [(ngModel)]="stateEventData.cubicValue[2]"><input class="input-right" [(ngModel)]="stateEventData.cubicValue[3]">
        </div>






    </div>
</div>