<div class="popup-wrap" *ngIf="visibility">
    <div id="popup1" class="overlay" (click)="hideDialog()">
        <div class="popup" (click)="nothing($event)">

            <div class="generator-nav">
                Detail Event Generator
                <!--<button (click)="hideDialog()">Hide</button>-->
            </div>


            <div class="generator-wrap">
                <!-- 트리거 버튼 -->


                <div class="trigger-select col-4">

                    <div *ngIf="!afterTriggerEventId">
                        <div class="generator-title">Trigger</div>

                        <div class="btn-scroll">

                            <div class="btn-trigger" (click)="clickTrigger('click')">
                                <img src="assets/images/btn_click.png" />
                                <p>click</p>
                            </div>
                            <div class="btn-trigger" (click)="clickTrigger('onCreate')">
                                <img src="assets/images/btn_oncreate.png" />
                                <p>onCreate</p>
                            </div>
                            <div class="btn-trigger" (click)="clickTrigger('backKey')">
                                <img src="assets/images/btn_backkey.png" />
                                <p>backKey</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="afterTriggerEventId">
                        After Animation
                    </div>

                </div>

                <!--트리거 관련 설명 -->

                <div class="trigger-intro" *ngIf="!triggerEvent">

                    <h2>Trigger</h2>
                    <p>Object와 Event의 사이에서 State의 변화. Activity의 전환과 같은 Event를 실행시키기 위하여 조건을 지정합니다. 좌측의 원하는 버튼을 눌러 이벤트를 생성해 보세요.</p>

                    <h4>Tab</h4>
                    <p>한 손가락으로 한번 누르고 즉시 들어올리기.</p>
                    <h4>LongPress</h4>
                    <p>일정 시간 누르고 있으면 이벤트가 실행.</p>
                    <h4>BackKey</h4>
                    <p>디바이스의 뒤로가기 소프트키를 누르면 이벤트 실행.</p>
                </div>

                <!--트리거 관련 설명@ -->

                <!-- 트리거 버튼 @-->


                <!-- 이벤트 종류 정하기 -->

                <div *ngIf="triggerEvent" class="event-select col-4">


                    <div class="generator-title">Event</div>
                    <div class="btn-scroll">
                        <div class="btn-trigger" (click)="clickImplement('stageChange')">
                            <img src="assets/images/btn_stagechange.png" />
                            <p>stageChange</p>
                        </div>
                        <div class="btn-trigger" (click)="clickImplement('startActivity')">
                            <img src="assets/images/btn_startactivity.png" />
                            <p>startActivity</p>
                        </div>
                        <div class="btn-trigger" (click)="clickImplement('finishActivity')">
                            <img src="assets/images/btn_finishactivity.png" />
                            <p>finishActivity</p>
                        </div>

                        <div class="event-kind">Lottie</div>
                        <div class="btn-trigger" (click)="clickImplement('startLottie')">
                            <img src="assets/images/btn_startlottie.png" />
                            <p>startLottie</p>

                        </div>
                        <div class="btn-trigger" (click)="clickImplement('stopLottie')">
                            <img src="assets/images/btn_stoplottie.png" />
                            <p>stopLottie</p>
                        </div>

                        <div class="event-kind">Camera</div>
                        <div class="btn-trigger" (click)="clickImplement('takePicture')">
                            <img src="assets/images/btn_takepicture.png" />
                            <p>takePicture</p>
                        </div>


                        <div class="event-kind">VideoView</div>
                        <div class="btn-trigger" (click)="clickImplement('startVideo')">
                            <img src="assets/images/btn_startvideo.png" />
                           <p> startVideo</p>
                        </div>
                        <div class="btn-trigger" (click)="clickImplement('stopVideo')">
                            <img src="assets/images/btn_stopvideo.png" />
                           <p> stopVideo</p>
                        </div>
                    </div>
                </div>

                <!--이벤트 관련 설명 -->

                <div class="event-intro" *ngIf="!implementEvent">

                    <h2>Event</h2>
                    <p>트리거로 인해 일어나는 일련의 효과들을 일컫는다. VXMaker에는 3개의 이벤트가 있으며 이를 사용해 모션 인터렉션 생성, 화면전환 등을 설정할 수 있습니다.</p>

                    <h4>StageChange</h4>
                    <p>트리거 실행시 스테이지 이동.</p>
                    <h4>StartActivity</h4>
                    <p>트리거 실행시 액티비티 이동.</p>
                    <h4>FinishActivity</h4>
                    <p>트리거 실행시 액티비티 종료.</p>
                </div>

                <!--입ㄴ트 관련 설명@ -->

                <!-- 이벤트 종류 정하기 @ -->

                <!-- 이벤트 상세설정 -->

                <div *ngIf="implementEvent">

                    <div class="event-detail col-4">

                        <div class="generator-title">Event Detail</div>
                        <div *ngIf="implementEvent.type=='stageChange'" class="detail-content">


                            From <b>{{currentSelectedStageId}}</b> select target stage
                            <select [(ngModel)]="selectedStageId" (change)="onChangeStage($event.target.value)"> 
                        <option *ngFor="let aStage of stageList" [value]="aStage.id">{{aStage.name}}</option>
                    </select>
                        </div>
                        <div *ngIf="implementEvent.type=='startActivity'" class="detail-content">
                            select target activity
                            <select [(ngModel)]="selectedActivityId" (change)="onChangeActivity($event.target.value)"> 
                        <option  *ngFor="let aActivity of activityList" [value]="aActivity.activityId">{{aActivity.activityName}}</option>
                    </select>
                        </div>
                        <div *ngIf="implementEvent.type=='finishActivity'" class="detail-content">
                            will finish activity
                        </div>


                        <div *ngIf="implementEvent.type=='startLottie'" class="detail-content">
                            select Lottie to start
                            <select [(ngModel)]="selectedLottieViewId" (change)="onChangeActivity($event.target.value)"> 
                        <option  *ngFor="let aObject of getLottieViewList()" [value]="aObject.id">{{aObject.name}}</option>
                    </select>
                        </div>

                        <div *ngIf="implementEvent.type=='stopLottie'" class="detail-content">
                            select Lottie to start
                            <select [(ngModel)]="selectedLottieViewId" (change)="onChangeLottiView($event.target.value)"> 
                        <option *ngFor="let aObject of getLottieViewList()" [value]="aObject.id">{{aObject.name}}</option>
                    </select>
                        </div>


                        <div *ngIf="implementEvent.type=='startVideo'" class="detail-content">
                            select Lottie to start
                            <select [(ngModel)]="selectedVideoViewId" (change)="onChangeVideoView($event.target.value)"> 
                        <option  *ngFor="let aObject of getVideoViewList()" [value]="aObject.id">{{aObject.name}}</option>
                    </select>
                        </div>

                        <div *ngIf="implementEvent.type=='stopVideo'" class="detail-content">
                            select Lottie to start
                            <select [(ngModel)]="selectedVideoViewId" (change)="onChangeVideoView($event.target.value)"> 
                        <option *ngFor="let aObject of getVideoViewList()" [value]="aObject.id">{{aObject.name}}</option>
                    </select>
                        </div>




                        <div *ngIf="implementEvent.type=='takePicture'" class="detail-content">
                            select view to picture
                            <select [(ngModel)]="selectedTakePictureObjectViewId" (change)="onChangeCameraPictureView($event.target.value)"> 
                        <option  *ngFor="let aObject of getImageViewList()" [value]="aObject.id">{{aObject.name}}</option>
                    </select>
                        </div>

                    </div>
                </div>


                <!-- 이벤트 상세설정 @ -->

            </div>

            <div class="generator-footer">
                <button (click)="hideDialog()">Cancel</button>
                <button *ngIf="readyEvent" (click)="completeEvent()">Done</button>

            </div>



        </div>
    </div>
</div>