/* popup test */

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    margin-top: 50px;
    color: #fff;
    border: 2px solid #46a2ba;
    color: #46a2ba;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.selected-trigger {
    background: #eee;
    color: #fff;
}

.button:hover {
    background: #46a2ba;
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
    z-index: 9999;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    background: #fff;
    border-radius: 5px;
    width: 800px;
    height: 500px;
    position: relative;
    transition: all 5s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}

.popup .active {
    color: #46a2ba;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 21px;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    z-index: 9999;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup-list .col-sm-3 {
    width: 20%;
    padding: 10px;
}

.popup-new {
    border: 2px solid #ececec;
    border-radius: 4px;
    height: 460px;
    text-align: center;
    padding-top: 100px;
    color: #898989;
}

.popup-new:hover {
    color: #46a2ba;
}

.popup-new img {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
}

.popup-category {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.popup-category label {
    font-size: 12px;
    padding-right: 30px;
}

.popup-category input {
    position: absolute;
    right: 0;
    top: 0;
}

.popup-nav label {
    padding-right: 20px;
}


/*popup test finish */

.col-4 {
    width: 33.3333%;
    float: left;
    height: 100%;
}

.generator-wrap {
    overflow: hidden;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.popup .generator-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid #ececec;
    background: #fff;
    padding: 12px;
    text-align: right;
    box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.2);
}

.popup .generator-footer button {
    background: transparent;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: #454545;
}

.popup .generator-footer button:hover {
    cursor: pointer;
    color: #46a2ba;
}

.popup .generator-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: 1px solid #ececec;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    padding: 12px;
    font-weight: 600;
}

.trigger-select {
    border-right: 1px solid #ececec;
    height: 100%;
    background: #fff;
    overflow-y: auto;
}

.event-select {
    border-right: 1px solid #ececec;
    height: 100%;
    background: #fff;
    overflow-y: auto;
}

.trigger-select img {
    width: 40px;
}

.trigger-select p {
    margin: 2px;
}

.event-select img {
    width: 40px;
}

.event-select p {
    margin: 2px;
}

.generator-title {
    font-size: 14px;
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid #ececec;
    font-family: Tahoma, Arial, sans-serif;
    font-weight: bold;
    color: #454545;
    background: #fff;
}

.trigger-intro {
    height: 100%;
    background: #dde3eb;
    padding: 15px;
    padding-left: 36%;
}

.trigger-intro p {
    font-size: 13px;
    color: #454545;
}

.event-intro {
    height: 100%;
    background: #dde3eb;
    padding: 20px;
    overflow-y: auto;
    float: right;
    width: 33.3333%;
}

.event-intro h4 {
    font-size: 14px;
}

.event-intro p {
    font-size: 13px;
    color: #454545;
}

.btn-trigger {
    height: 80px;
    border-bottom: 1px solid #ececec;
    text-align: center;
    font-size: 13px;
    color: #454545;
    padding: 10px;
}

.btn-trigger:hover {
    cursor: default;
    background: #eee;
}

.event-detail {
    font-size: 13px;
    color: #454545;
}

.detail-content {
    padding: 15px;
    text-align: center;
}

.detail-content p {
    font-size: 12px;
    margin: 0;
}

.detail-content select {
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border: #ccc 1px solid;
}

.detail-content select:hover {
    cursor: default;
}

.event-kind {
    text-align: center;
    background: #f9fafb;
    padding: 3px;
    font-size: 12px;
    border-bottom: 1px solid #ececec;
    font-family: Tahoma, Arial, sans-serif;
    font-weight: bold;
}

.after-animation {
    margin-top: 130px;
}

.after-animation h3 {
    color: #898989;
    font-weight: bolder;
    font-size: 16px;
}

.after-animation p {
    color: #454545;
    font-size: 14px;
    font-size: 13px;
}

.trigger-hover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: 70px;
    margin-left: 285px;
    text-align: left;
    width: 800px;
    height: 400px;
    background: #dde3eb;
    display: none;
}

.trigger-hover p {
    margin-top: 15px!important;
    color: #454545;
}

.btn-click:hover .click-info {
    display: block;
}

.btn-oncreate:hover .oncreate-info {
    display: block;
}

.btn-backkey:hover .backkey-info {
    display: block;
}

.event-hover {
    position: absolute;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: 70px;
    margin-left: 550px;
    text-align: left;
    padding: 1px;
    width: 240px;
    height: 400px;
    background: #dde3eb;
    display: none;
}

.event-hover p {
    margin-top: 15px!important;
    color: #454545;
}

.btn-stagechange:hover .stage-info {
    display: block;
}

.btn-startactivity:hover .startactivity-info {
    display: block;
}

.btn-finishactivity:hover .finishactivity-info {
    display: block;
}

.btn-startlottie:hover .startlottie-info {
    display: block;
}

.btn-stoplottie:hover .stoplottie-info {
    display: block;
}

.btn-takepicture:hover .takepicture-info {
    display: block;
}

.btn-startvideo:hover .startvideo-info {
    display: block;
}

.btn-stopvideo:hover .stopvideo-info {
    display: block;
}

.trigger-sub h4 {
    margin-bottom: 5px;
}

.trigger-sub p {
    margin-top: 7px;
}

.event-intro h4 {
    margin-bottom: 5px;
}

.event-intro p {
    margin-top: 7px;
}